header{
    position:fixed;
    width:100%;

}

body {
    background-image: url("/img/backgrpund-order.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ms-top-container {
    padding-top: 100px;
}

footer{
    display:none;
}