header{
    position:fixed;
    width:100%;
    top:0;
    z-index:9999;
}

body {
    background-image: url("/img/backgrpund-order.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ms-height{
    min-height:600px;
    width:300px
}
.card {
    background-color: rgba(255,157, 0, 0.8) !important;
    border: none !important;
}
.ms-height img{
    height:300px;
    width:300px;
   object-fit:cover;
}
.ms-top-container {
    padding-top: 100px;
}

footer{
    display:none;
}